@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* vintage theme */
@font-face {
	font-family: "Sir Carlo Font";
	src: url('/Cabin-sir-carlo.ttf');
	font-display: swap;
}

